html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #E2E2E2;
}

#content {
  width: 35%;
  height: 85%;
  margin: 15px auto 0;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

#content-header {
  border-bottom: 1px solid gray;
}

#todos-pane {
  height: 80%;
  margin-bottom: 20px;
  overflow: auto;
}

#todos li {
  list-style-type: none;
  width: 95%;
  font-size: 16px;
  text-align: left;
  margin: 10px 0;
  &.priority-task {
    color: red;
  }
}

#title {
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
  padding: 10px 15px;
  &:focus {
    outline: 0;
  }
}

.btn {
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  border: none;
  &:focus {
    outline: 0;
  }
  &:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }
}

.add {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
  &:hover {
    background-color: #48E68B;
  }
}

.priority {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
  margin-left: 15px;
  &:hover {
    background-color: #6FC6FF;
  }
}

.remove {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
  margin-left: 15px;
  &:hover {
    background-color: #FF6656;
  }
}